<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{title}}</title>
    <meta name="description" content="{{title}}">
    <meta name="viewport" content="width=device-width" />

    <link rel="stylesheet" href="/stylesheets/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="/stylesheets/bootstrap/bootstrap-theme.min.css" />
    <link rel='stylesheet' href='/stylesheets/style.css' />

    {{! <script src="./javascripts/scripts.js"></script>}}
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="./">Index</a></li>
        <li><a href="./test1">Test 1</a></li>
        <li><a href="./test2">Test 2</a></li>
        <li><a href="./test3">Test 3</a></li>
        <li><a href="./test4">Test 4</a></li>
        <li><a href="./test5">Test 5</a></li>
        <li><a href="./test6">Test 6</a></li>
        <li><a href="./test6">Test 6</a></li>
      </ul>
    </nav>
    {{{body}}}
  </body>
</html>
