<div class="container">
  <h1>Test #6 - Responsive</h1>
  <p>Combine tests #2 and #5 into a responsive layout with two breakpoints.
</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<script type="text/javascript">

        // Write your jQuery code here

</script>