<div class="container">
  <h1>Test #5 - Implement Flexslider</h1>
  <p>
    Using the images located in "images/flexslider," implement a flexslider without arrows. Allow the slideshow to flex but limit it so it's not too small nor wide.
  </p>
</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<script type="text/javascript">

    // Write your jQuery code here

</script>


