<div>
      
  <h1>Test #2 - Write semantic markup</h1>

  <p>The text in this file in the preformatted tag below is meant to represent a blog post with attributes including a post date, author, related links, internal links, and a navigation to the rest of the site it exists on. Change the PRE tag to a DIV, and add semantic, valid markup to it to more represent a post you would find on a real blog. Be sure to consider accessibility and validation.</p>

  <p>
    Guidelines:
    <ul>
      <li>Each venue listed below should be a link. </li>
      <li>Each related post should be a link. </li>
      <li>There is no requirement to style anything</li>
    </ul>                    

  </p>

 
  <div class="row">
    <section>
      <article>
        <h1 class="title">Top 10 Things to See and Do in Phoenix</h1>
        <time datetime="2013-03-08" pubdate>March 8th, 2013</time>
        
        <h3><address class="author">by Joe Blogger</address></h3>
        
        <section class="summary">
          <p>Phoenix’s perpetual sunshine might tempt you to spend all your free time sipping frozen beverages next to a swimming pool. Don’t give in. Exploring the Sonoran Desert’s horizons will broaden yours.</p>
        </section>
        
        <section>
          <h3 class="subTitle">1. Camelback Mountain</h3>

          <p>Nearly every outdoors-loving Phoenix local has, at some time or another, started his or her day with a hike to the top of Camelback Mountain. The city’s most famous landmark resembles a dromedary camel in repost, and the mountain challenges hikers with a rugged but rewarding trek to its 2,700-foot “hump”. Visitors who prefer not to scale Camelback can still gawk at it from a nearby restaurant patio.</p>
        </section>

        <section>
          <h3 class="subTitle">2. Musical Instrument Museum</h3>
        
          <p>Phoenix’s newest must-see attraction is the first museum in the world dedicated to the celebration of global instruments. This $250 million museum features a collection of more than 15,000 instruments – including the last guitar Elvis played in concert.</p>
        </section>
        
        <section>
          <h3 class="subTitle">3. Desert Botanical Garden</h3>
          <img src="http://dummyimage.com/700x300/efe9f5/030305.png" alt="dummy 700x300 image">
          <p><small>Photo credit: Desert Botanical Garden, Adam Rodriguez (Actually <a href="http://dummyimage.com/">Dummy Image.com</a> ... But I digress)</small></p>
          <p>As its name suggests, this outdoor museum showcases desert plants – and not just those native to the Southwest. Among the succulents that adorn the garden’s 50-acre grounds are endangered desert species from around the world, including Dali-esque trees from North Africa and sprawling cactuses from Mesopotamia.</p>
        </section>
        
        <section>
          <h3 class="subTitle">4. Golf</h3>

          <p>Greater Phoenix is home to more than 200 golf courses, many designed by legends of the game such as Robert Trent Jones, Jack Nicklaus and Arnold Palmer. Check out stay-and-play packages at area resorts before you come, and consider playing one of Phoenix’s true desert layouts.</p>  
        </section>
        
        <section>
          <h3 class="subTitle">5. Heard Museum</h3>
  
          <p>The Heard is Arizona’s most famous museum. The traditional and contemporary art on display provides insight into the culture of Arizona’s 22 Native American tribes. Not to be missed is the haunting exhibit on Indian boarding schools. The Heard Museum Shop is one of the best places in Phoenix to buy authentic American Indian jewelry, pottery, paintings, sculpture and weavings.</p>
        </section>
        
        <section>
          <h3 class="subTitle">6. Biltmore Fashion Park</h3>

          <p>Located near the famed Arizona Biltmore resort, this fashionable shopping desintation has a garden-park courtyard, upscale retailers and plenty of dining options. Be sure to check out the Fashion Park’s newest addition: UNION, a wing of locally owned boutiques.</p>  
        </section>
        
        <section>
          <h3 class="subTitle">7. Phoenix Art Museum</h3>

          <p>A major player in the Southwest’s art landscape, Phoenix Art Museum showcases an impressive collection of European, Asian, Latin American, Western American and contemporary pieces. Be sure to check out the sculpture garden, Museum Store and the museum restaurant, Palette.</p>  
        </section>
          
        <section>
          <h3 class="subTitle">8. Heritage Square</h3>
          
          <p>Occupying a city block in downtown Phoenix, Heritage Square is home to the Arizona Science Center. But go for the food. Pizzeria Bianco serves pizza that a New York Times food critic deemed the best in the country, and Nobuo at Teeter House is an Asian-style teahouse by day and a funky izakaya by night.</p>
        </section>

        <section>
          <h3 class="subTitle">9. Old Town Scottsdale</h3>
          
          <p>The Old West and New West converge in Old Town Scottsdale, where galleries dedicated to American Indian and cowboy arts share a pedestrian-friendly streetscape with shops that sell Southwestern jewelry and crafts. Nearby, you’ll find some of Greater Phoenix’s finest restaurants and trendiest nightlife.</p>
        </section>
        
        <section>
          <h3 class="subTitle">10. Taliesin West</h3>

          <p>The sprawling wonder at the foot of the McDowell Mountains was the winter home of Frank Lloyd Wright, America’s most famous architect. Wright constructed Taliesin West from sand, gravel and stone he found on the mountain’s talus slope. It’s open to the public for tours.</p>
        </section>

      </article>        
    </section>

    <footer>
      <dl>
        <dt><h4>Related Posts:</h4></dt>
        <dl><a href="#">* Arizona Restaurant Week</a></dl>
        <dl><a href="#">* Ice Skating in Phoenix</a></dl>
        <dl><a href="#">* Hiking in Phoenix</a></dl>
      </dl>
    </footer>
  </div>

</div>
