body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
  
a {
  color: #00B7FF;
}
  
nav {
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
    
    li {
      display: inline;
      
      a {
        text-decoration: none;
        padding: .2em 1em;
        color: #fff;
        background-color: #036;
        
        &:hover {
          color: #fff;
          background-color: #369;
        }
      }
    }
  }
}

.hidden {
  display: none;
}